{{extend 'layout.html'}}
<head>
<style>
td {
	text-align: center;
}
</style></head>
<body>

{{=form.custom.begin}}
<center>
<table align="center">
<tr><td width="100%" colspan="2"><h2>Login</h2></td></tr>
<tr><td width="50%">Email: </td><td width="50%">{{=form.custom.widget.Email}}</td></tr>
<tr><td width="50%">Password: </td><td width="50%">{{=form.custom.widget.Password}}</td></tr>
<tr><td width="100%" colspan="2">
{{=form.custom.submit}}</td></tr>
</table>
</center>
{{=form.custom.end}}