{{extend 'layout.html'}}
<style>
.btn {
	padding-bottom: 10px;
	padding-top: 10px;
}
.onequiz {
	display: inline-block;
	background-color: skyblue;
	padding:20px;
	border-radius: 10px;
	margin-bottom: 50px;
	font-size: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
}
.onequiz:hover {
	cursor: pointer;
}
.score {
	font-size: 2em;
	margin-top: 5px;
}
input {
	margin-top: 100px;
}
</style>
<body>

{{for i in range(0,len(quizes_id)):}}
<div class="onequiz" onclick ='window.location="{{=URL('default', 'quiz_stats', args=[session_id,quizes_id[i]])}}"'>
<p>Quiz #{{=quizes_id[i]}}</p>
<p>Status {{=statuses[i]}}</p><br /><br />
<p class="score">{{=scores[i]}} points</p>
</div>
{{pass}}
<input id="createbutton" type="button" value="logout" class="btn btn-danger btn-block" onclick ='window.location="{{=URL('default', 'logout', args=[session_id])}}"'/>
