{{extend 'layout.html'}}
<style>
.qset {
	padding:15px;
	background-color: lightgreen;
	margin: 10px;
	border-radius: 50px;
	padding-left: 50px;
}
.question {
	font-size: 2em;
}
.btn {
	padding-top: 10px;
	padding-bottom: 10px;
}
</style>
<body>

<h2>Quiz #{{=response.title}}</h2><br /><br /><br />
{{for i in range(0,len(questions)):}}
<div class="qset">
<p class="question">{{=questions[i]}}</p>
<p class="answer"><i>Answer: {{=answers[i]}}</i></p>
</div>
{{pass}}<br /><br />
<input id="createbutton" type="button" class="btn btn-danger btn-block" value="Logout" onclick ='window.location="{{=URL('default', 'logout', args=[session_id])}}"'/>
