{{extend 'layout.html'}}
<style>
.btn {
	padding-bottom: 10px;
	padding-top: 10px;
}
.onequiz {
	display: inline-block;
	background-color: darkgreen;
	padding:20px;
	border-radius: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
	  box-shadow: 5px 5px 5px #8a8a8a;

	font-size: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
	color:white;
}
.onequiz:hover {
	background-color: purple;
	color:white;
}
.onequiz:hover {
	cursor: pointer;
}
.score {
	font-size: 2em;
	margin-top: 5px;
}
input {
	margin-top: 100px;
}
</style>
<body>
<div id="container">
{{for i in range(0,len(quizes_id)):}}
<div class="onequiz" onclick ='window.location="{{=URL('default', 'quiz_stats', args=[session_id,quizes_id[i],statuses[i]])}}"'>
<p>Quiz #{{=quizes_id[i]}}</p>
<p>Status {{=statuses[i]}}</p><br /><br />
<p class="score">{{=scores[i]}} points</p>
</div>
{{pass}}
</div>
<script src="{{=URL('static','js/jquery.js')}}" type="text/javascript" charset="UTF-8"></script>
<script>
window.onload=doit;
function doit() {
	$('#container').slideDown();
}
$('.onequiz').mouseover(function() {
	$(this).css("height", "+=20");
	$(this).css("width", "+=20");
});
$('.onequiz').mouseout(function() {
	$(this).css("height", "-=20");
	$(this).css("width", "-=20");
});
</script>