{{extend 'layout.html'}}
<style>
#createbutton {
	padding-top:30px;
	padding-bottom: 30px;
}
</style>
<h2>Welcome, {{=name}}</h2><br /><br /><br />
<input id="createbutton" type="button" value="Start Quiz" class="btn btn-success btn-block" onclick ='window.location="{{=URL('default', 'start_quiz', args=[session_id])}}"'>
