{{extend 'layout.html'}}
<head><style>
.btn {
	padding-top:10px;
	padding-bottom:10px;
	font-size: 1.5em; 
}
h2 {
	margin-top: 50px;
}
</style>
</head>
<body>
<big>{{=response.title}}</big>
<h2>{{=question}}</h2>
<input id="createbutton" type="button" value={{=option1}} onclick ='window.location="{{=URL('default', 'evaluate', args=[session_id,quiz_id,question_id,'a'])}}"' class="btn btn-primary btn-block" /><br />
<input id="createbutton" type="button" value={{=option2}} onclick ='window.location="{{=URL('default', 'evaluate', args=[session_id,quiz_id,question_id,'b'])}}"' class="btn btn-primary btn-block" /><br />
<input id="createbutton" type="button" value={{=option3}} onclick ='window.location="{{=URL('default', 'evaluate', args=[session_id,quiz_id,question_id,'c'])}}"' class="btn btn-primary btn-block" /><br />
<input id="createbutton" type="button" value={{=option4}} onclick ='window.location="{{=URL('default', 'evaluate', args=[session_id,quiz_id,question_id,'d'])}}"' class="btn btn-primary btn-block" />
<br>
<br>
<input id="createbutton" type="button" value="Pause Quiz" class="btn btn-danger" onclick ='window.location="{{=URL('default', 'pause_quiz', args=[session_id,quiz_id])}}"'/>

