{{extend 'layout.html'}}
{{=form.custom.begin}}
<center>
<table align="center">
<tr><td width="100%" colspan="2"><h2>Register</h2></td></tr>
<tr><td width="50%">First Name:</td></tr><tr><td width="50%">{{=form.custom.widget.First_name}}</td></tr>
<tr><td width="50%">Last Name:</td></tr><tr><td width="50%">{{=form.custom.widget.Last_name}}</td></tr>
<tr><td width="50%">Email:</td></tr><tr><td width="50%">{{=form.custom.widget.Email}}</td></tr>
<tr><td width="50%">Username:</td></tr><tr><td width="50%">{{=form.custom.widget.Username}}</td></tr>
<tr><td width="50%">Password:</td></tr><tr><td width="50%">{{=form.custom.widget.Password}}</td></tr>
<tr><td width="100%">{{=form.custom.submit}}</td></tr>

<tr><td width="100%" colspan="2"><input id="createbutton" type="button" value="Login" class="btn btn-primary" onclick ='window.location="{{=URL('default', 'login', args=[])}}"'/></td></tr>
</table>
{{=form.custom.end}}
