{{extend 'layout.html'}}
<h2>Welcome, {{=name}}</h2><br /><br /><br />
<input id="createbutton" type="button" value="Start Quiz" class="btn btn-success" onclick ='window.location="{{=URL('default', 'start_quiz', args=[session_id])}}"'>
<input id="createbutton" type="button" value="My Quizes" class="btn btn-primary" onclick ='window.location="{{=URL('default', 'my_quizes', args=[session_id])}}"'/>
<input id="createbutton" type="button" value="Logout" class="btn btn-danger" onclick ='window.location="{{=URL('default', 'logout', args=[session_id])}}"'/>
