{{extend 'layout.html'}}
<html>
<head>
<style>

#score{
margin-left: 500px;
margin-right: 500px;
background: black;
padding-top: 65px;
padding-bottom: 65px;
color: white;
border-radius: 150px;
}
</style>
</head>

<body>

</br></br></br></br>
<p><h1><b>Congratulations ! Your score is: </b></h1></p>
</br></br></br></br></br>
<p><h1><b><div id="score">{{=score}}</div></b></h1></p>

</html>
