
<head>
{{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}
<style>
td {
	text-align: center;
}
body {
	background-color: black;
	color: white;
}
@font-face {
  src: url('../static/font/myriadpro.otf');
  font-family: applefont;
}
body {
  font-family: applefont;
}
</style></head>
<body>

<center><br /><br /><br />
<img src="../static/images/logo_white.png" />
{{=form.custom.begin}}
<table align="center">
<tr><td width="100%" colspan="2"><h2 class="heading">Login</h2></td></tr>
<tr><td width="50%">Email: </td><td width="50%">{{=form.custom.widget.Email}}</td></tr>
<tr><td width="50%">Password: </td><td width="50%">{{=form.custom.widget.Password}}</td></tr>
<tr><td width="100%" colspan="2"><br /><br />
{{=form.custom.submit}}</td></tr>

{{=form.custom.end}}
</table>

</center>
