{{extend 'layout.html'}}
<html>
<head>

<style>
.qset {
	padding:25px;
	background-color: lightgreen;
	margin: 10px;
	border-radius: 50px;
	padding-left: 150px;
	  border-bottom-right-radius: 2500px;
  border-top-left-radius: 2500px;
  box-shadow: 0 0 10px black;
}
.question {
	font-size: 2em;
}
.btn {
	padding-top: 10px;
	padding-bottom: 10px;
}
@font-face {
  src: url('../static/font/myriadpro.otf');
  font-family: applefont;
}
body {
  font-family: applefont;
}
</style>
<script>
function myfunc(status){
	if(status == 1){
	y = document.getElementById("resume_button")
	y.parentNode.removeChild(y)
}
}
		
</script>
</head>
<body onload = "myfunc('{{=status}}')">
<h2>Quiz #{{=response.title}}</h2><br /><br /><br />
<div id="contains">
{{for i in range(0,len(questions)):}}
<div class="qset">
<p class="question">{{=questions[i]}}</p>
<p class="answer"><i>Your Answer: {{=your_answers[i]}}</i></p>
<p class="answer"><i>Correct Answer: {{=answers[i]}}</i></p>
</div>
{{pass}}<br /><br />
<div id = "resume_button">
<button onclick ='window.location="{{=URL('default', 'quiz', args=[session_id,quiz_id])}}"' class="btn btn-block btn-success">Resume</button>
</div>
</body>
</html>
