{{extend 'layout.html'}}
<html>
<head><style>
.btn {
	padding-top:10px;
	padding-bottom:10px;
	font-size: 1.5em; 
	width:500px;
	max-width: 500px;
}
.btn-block{
	display: inline;

}
#level {
	display:none;
}
.navbt {
	width:200px;
	font-size: 1em;
	max-width: 200px;
	background: darkblue;
	color:white;
}
h2 {
	margin-top: 50px;
}
@font-face {
  src: url('../static/font/myriadpro.otf');
  font-family: applefont;
}
body {
  font-family: applefont;
}
#question {
	background-color: darkblue;
	color: white;
	padding:100px;
	border-top-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

#option_a {
	border-top-left-radius: 1200px;
	border-bottom-left-radius: 2100px;
}
#option_b {
	border-top-right-radius: 1200px;
	border-bottom-right-radius: 2100px;
}
#option_c {
	border-top-left-radius: 1200px;
	border-bottom-left-radius: 2100px;
}
#option_d {
	border-top-right-radius: 1200px;
	border-bottom-right-radius: 2100px;
}

</style>
<script src="{{=URL('static','js/modernizr.custom.js')}}" type="text/javascript" charset="UTF-8"></script>
<script src="{{=URL('static','js/web2py.js')}}" type="text/javascript" charset="UTF-8"></script>
<script src="{{=URL('static','js/jquery.js')}}" type="text/javascript" charset="UTF-8"></script>
<script src="{{=URL('static','js/val/dist/jquery.validate.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/jquery-ui-1.10.3.custom.js')}}" type="text/javascript"></script>
<script>
curr_ques = 0
display_ques = 0
level = 0;
var questions = new Array()
var option1 = new Array()
var option2 = new Array()
var option3 = new Array()
var option4 = new Array()
var answers = new Array()
function init(){
	level = '{{=len(questions)}}'
	{{for i in range(0,len(questions)):}}
	questions['{{=i}}'] = '{{=questions[i]}}'
	option1['{{=i}}'] = '{{=option1[i]}}'
	option2['{{=i}}'] = '{{=option2[i]}}'
	option3['{{=i}}'] = '{{=option3[i]}}'
	option4['{{=i}}'] = '{{=option4[i]}}'
	answers['{{=i}}'] = '{{=answers[i]}}'
	{{pass}}
	document.getElementById("level").innerHTML = "This is the question of level" + (display_ques+1)
	document.getElementById("question").innerHTML = questions[display_ques]
	document.getElementById("option_a").value = option1[display_ques]
	document.getElementById("option_b").value = option2[display_ques]
	document.getElementById("option_c").value = option3[display_ques]
	document.getElementById("option_d").value = option4[display_ques]
}
function display_quest(){
	document.getElementById("level").innerHTML = "This is the question of level" + (display_ques+1)
	document.getElementById("question").innerHTML = questions[display_ques]
	document.getElementById("option_a").value = option1[display_ques]
	document.getElementById("option_b").value = option2[display_ques]
	document.getElementById("option_c").value = option3[display_ques]
	document.getElementById("option_d").value = option4[display_ques]
}
function add_answer(answer){
	answers[display_ques] = answer
		next_ques();
}
function next_ques(){
	if (display_ques != level - 1){
		display_ques = display_ques + 1
		display_quest()
	}

	}
function prev_ques(){
	if (display_ques != 0){
		display_ques = display_ques -1
		display_quest()
	}
	}
function submit_quiz()
{
	window.location="{{=URL('default', 'evaluate', args=[session_id,quiz_id])}}/"+'['+ answers + ']'
}
function pause()
{
	window.location="{{=URL('default', 'pause_quiz', args=[session_id,quiz_id])}}/"+'['+ answers + ']'
}	
</script>
</head>
<body onload = "init()">

<div id = "level"></div>
<h2>
<div id = "question"></div>
</h2>
<input id="option_a" type="button" value='' onclick = "add_answer('a')" class="btn btn-primary btn-block">
<input id="option_b" type="button" value='' onclick = "add_answer('b')" class="btn btn-primary btn-block">
<input id="option_c" type="button" value='' onclick = "add_answer('c')" class="btn btn-primary btn-block">
<input id="option_d" type="button" value='' onclick = "add_answer('d')" class="btn btn-primary btn-block"><br /><br /><hr /><br /><br />

<input id="prev_ques" type = "button" value = "Previous Question" onclick = "prev_ques()"  class="navbt btn btn-block" />
<input id="submit_quiz" type = "button" value = "Submit Quiz" onclick = "submit_quiz()"  class="navbt btn btn-block" />
<input id="createbutton" type="button" value="Pause Quiz" onclick ="pause()"  class="navbt btn btn-block" />

<input id="next_ques" type = "button" value = "Next Question" onclick = "next_ques()"  class="navbt btn btn-block" />
<div id = "blank"></div>
</body>


