<style>
@font-face {
  src: url('../static/font/myriadpro.otf');
  font-family: applefont;
}
body {
  font-family: applefont;
}
</style>{{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}
{{=form.custom.begin}}
<center>
<img src="../static/images/logo_black.png" />
<table align="center">
<tr><td width="100%" colspan="2"><h2>Register</h2></td></tr>
<tr><td width="50%">First Name:</td></tr><tr><td width="50%">{{=form.custom.widget.First_name}}</td></tr>
<tr><td width="50%">Last Name:</td></tr><tr><td width="50%">{{=form.custom.widget.Last_name}}</td></tr>
<tr><td width="50%">Email:</td></tr><tr><td width="50%">{{=form.custom.widget.Email}}</td></tr>
<tr><td width="50%">Username:</td></tr><tr><td width="50%">{{=form.custom.widget.Username}}</td></tr>
<tr><td width="50%">Password:</td></tr><tr><td width="50%">{{=form.custom.widget.Password}}</td></tr>
<tr><td width="100%">{{=form.custom.submit}}</td></tr>

<tr><td width="100%" colspan="2"><input id="createbutton" type="button" value="Login" class="btn btn-primary" onclick ='window.location="{{=URL('default', 'login', args=[])}}"'/></td></tr>
</table>
{{=form.custom.end}}
