{{extend 'layout.html'}}
<style>
#createbutton {
	padding-top:30px;
	padding-bottom: 30px;
}
#bcontainer {
	display: none;
}
@font-face {
  src: url('../static/font/myriadpro.otf');
  font-family: applefont;
}
body {
  font-family: applefont;
}
</style>
<div id="bcontainer">
<h2>Welcome, {{=name}}</h2><br /><br /><br />
<center>
<img src="../../static/images/logo_black.png" />
</center>
<input id="createbutton" type="button" value="Start Quiz" class="btn btn-success btn-block" onclick ='window.location="{{=URL('default', 'start_quiz', args=[session_id])}}"'>
</div>
<script>
$('#bcontainer').slideDown();
</script>